extend default 

block content     
    .container 
        .sum
            span you have 4 travels, 3 countrys already! 
        .future.travels 
            strong.homeTitle UPCOMING
            ul.home-travels.future-travels
                each travel in future  
                    li.trip-list
                        img.travel-cover(src='/cover/'+ `${travel.cover_img}`+'.jpg' )
                        .trip(onclick=`location.href='https://www.google.com'`)
                            strong.info.countryName #{travel.country.name}
                            p.info.date #{travel.start_date} - #{travel.end_date}  
                            br
                            br
                            img.country-flag(src='/flag/'+`${travel.country.value}`+'.png' width='20' )
                            br
                            br
                            p.info.spend #{travel.spend}

        .past.travels
            strong.homeTitle PAST 
            ul.home-travels.past-travels
                each travel in past
                    li.trip-list
                        img.travel-cover(src='/cover/'+`${travel.cover_img}`+'.jpg' )
                        .trip(onclick=`location.href='https://www.google.com'`)
                            strong.info.countryName #{travel.country.name}
                            p.info.date #{travel.start_date} - #{travel.end_date}   
                            br
                            br
                            img.country-flag(src='/flag/'+`${travel.country.value}`+'.png' width='20' )
                            br
                            br
                            p.info.spend #{travel.spend}
        .homeAddBotton(onclick=`location.href='/add'`)
            .addNew New Travel

        