doctype html 
html 
    head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv='X-UA-Compatible' content='ie=edge')
      title= title
      link(rel='stylesheet' type='text/css' href='/css/add.css')
body 
    .select-top-bar
        img(src='/icon/close.png' width='17' onclick=`location.href='/'`)
        p Please select the country 
    .select-search-bar 
        img(src='/icon/loupe.png' width='17')
        input.home-input(autofocus='' placeholder='      Country name' type='search' name='q') 
    .select-country-list
        form(action='/addConfirm' method='POST')
            each country in countries  
                .option(tabindex="-1")
                    .option-info
                        img.select-flag(src='/icon/'+`${country.value}`+'.png' height=30)                    
                        label.radio-label(for=`${country.name}`) #{country.name}
                    input.country(type='radio' name='country' id=`${country.name}` value=`${country.name}` )             
    .confirm-area
        