extend default 

block content     
    .container 
        .sum
            span you have 4 travels, 3 countrys already! 
        .future.travels 
            strong.homeTitle UPCOMING
            ul.home-travels.future-travels
                each travel in futureTravels  
                    li.trip-list
                        img.travel-cover(src='/icon/sunsat2.jpg' )
                        .trip(onclick=`location.href='https://www.google.com'`)
                            strong.info.countryName #{travel.countryName}
                            p.info.date #{travel.date}  
                            br
                            br
                            img.country-flag(src='/icon/philippines.png' width='20' )
                            br
                            br
                            p.info.spend #{travel.spend}

        .past.travels
            strong.homeTitle PAST 
            ul.home-travels.past-travels
                each travel in pastTravels  
                    li.trip-list
                        img.travel-cover(src='/icon/lake.jpg' )
                        .trip(onclick=`location.href='https://www.google.com'`)
                            strong.info.countryName #{travel.countryName}
                            p.info.date #{travel.date}  
                            br
                            br
                            img.country-flag(src='/icon/japan.png' width='20' )
                            br
                            br
                            p.info.spend #{travel.spend}
        .homeAddBotton(onclick=`location.href='/add'`)
            .addNew New Travel

        